<div  class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let currentProduct of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{currentProduct.id}}">
                            <img src="{{currentProduct.imageUrl}}" class="img-responsive"/>
                        </a>
                        <a routerLink="/products/{{currentProduct.id}}">
                            <h1>{{ currentProduct.name }}</h1>
                        </a>
                        <div class="price">{{ currentProduct.unitPrice | currency: 'EUR' }}</div>
                        <button (click)="addToCart(currentProduct)" class="btn btn-primary btn-small">Add to cart</button>
                    </div>
                </div>
                <!-- if products is empty display message -->
                <!-- The ? includes null/undefined: if products = null/undefined then if is true -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>
            </div>


            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="pageNumber"
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements"
                                                (pageChange)="listProducts()"
                                                [maxSize]="5"
                                                [boundaryLinks]="true">
                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true"> 5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>