<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let currentProduct of products">
            <td class="align-middle">
                <img src="{{currentProduct.imageUrl}}" height=50>
            </td>
            <td class="align-middle">{{ currentProduct.name }}</td>
            <td class="align-middle">{{ currentProduct.unitPrice | currency: 'EUR' }}</td>
            <td class="align-middle">{{ currentProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table>